.homePage{
    height: max-content;
    width: 100%;
}
.hero{
    height: 90vh;
    width: 100%;
    overflow-y: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroImage{
    position: absolute;
    width: 100%;
    opacity: 0.85;
}
.heroText{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heroText h1{
    font-family: 'Borel', cursive;
    font-size: 2.5rem;
    font-weight: 100;
}
.shopPlants{
    padding: 12px 45px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    font-weight: 300;
}