.homePage{
    height: max-content;
    width: 100%;
}

/* code for the hero */

.hero{
    height: 90vh;
    width: 100%;
    overflow-y: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heroImage{
    position: absolute;
    width: 100%;
    opacity: 0.85;
}
.heroText{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heroText h1{
    font-family: 'Borel', cursive;
    font-size: 2.5rem;
    font-weight: 100;
}
.shopPlants{
    padding: 12px 45px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    font-weight: 300;
}

/* Code for the slider */

.slider{
    max-width: 100vw;
    overflow-x: hidden;
    padding-left: 5%;
}
.contentSlide{
    display: flex;
    width: 90vw;
    gap: 3%;
    overflow-x: scroll;
    padding-bottom: 10px;
}
.slideItem{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.slideImage{
    width: 100%;
    height: 100%;
}
.slideText{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slideText h1{
    color: black;
    font-size: 17px;
    font-weight: 400;
}
.slideText p{
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.section1Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
}
.section1Header h1{
    font-weight: 500;
    font-size: 28px;
}
.shopLink{
    color: black;
}
.Finder{
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border-bottom: 3px solid ;
}
.Finder h1{
    font-weight: 400;
    font-size: 28px;
    padding-left: 5%;
    font-weight: 500;
}
.FinderContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-left: 5%;
    padding-right: 5%;
}
.FinderCards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}
.FinderCards img{
    width: 100%;
}
.FinderCards p{
    font-size: 18px;
    font-weight: 500;
    color: black;
}