.Page{
    height: max-content;
    width: 100%;
    background-color: rgb(252,249,243); 
}
/* code for the hero */

.homePagehero{
    height: 90vh;
    width: 100% ;
    overflow-y: hidden;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.homePageheroImage{
    position: absolute;
    width: 100%;
}
.homePageheroText{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.homePageheroText h1{
    font-family: 'Borel', cursive;
    font-size: 2.5rem;
    font-weight: 100;
    color: white;
}
.shopPlants{
    padding: 12px 45px;
    background-color: white;
    /* color: white; */
    text-decoration: none;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    text-align: center;
    font-weight: 300;
}
.shopPlants:hover, .giftGuide:hover{
    transform: scale(1.05);
    transition: .3s ease-in-out;
}
/* Code for the slider */

.slider{
    max-width: 100vw;
    overflow-x: hidden;
    padding-left: 5%;
}
.contentSlide{
    display: flex;
    width: 90vw;
    gap: 3%;
    overflow-x: scroll;
    padding-bottom: 10px;
}
.slideItem{
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.slideImage{
    width: 100%;
    height: 100%;
}
.slideText{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slideText h1{
    color: black;
    font-size: 17px;
    font-weight: 400;
}
.slideText p{
    color: black;
    font-size: 16px;
    font-weight: 500;
}
.section1Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
}
.section1Header h1{
    font-weight: 500;
    font-size: 28px;
}
.shopLink{
    color: black;
}
.Finder{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 20px;
    border-bottom: 3px solid rgba(219, 216, 216, 0.596);
}
.Finder h1{
    font-weight: 400;
    font-size: 28px;
    padding-left: 5%;
    font-weight: 500;
}
.FinderContainer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-left: 5%;
    padding-right: 5%;
}
.FinderCards{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-decoration: none;
}
.FinderCards img{
    width: 100%;
}
.FinderCards p{
    font-size: 18px;
    font-weight: 500;
    color: black;
}
.Gifts{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding-top: 90px;
    height: 90vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 50px;
}
.Gifts img{
    height: 100%;
}
.giftText{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.giftText h1{
    font-size: 30px;
    font-weight: 500;
}
.giftGuide{
    padding: 10px 30px;
    color: white;
    width: max-content;
    border-radius: 50px;
    background-color: black;
    text-decoration: none;
}

.giftText p{
    width: 80%;
}
.Learn{
    display: flex;
    height: 90vh;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 80px;
    gap: 30px;
}
.LearnText{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 30%;
}
.LearnText h1{
    font-weight: 500;
}