@import url('https://fonts.googleapis.com/css2?family=Literata:opsz@7..72&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Literata', serif;
}
.topBar{
    width: 85%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 750px; */
    /* padding-left: 20px; */
}
.topBar .p{
    font-size: 40px;
    font-weight: 100px;
    margin-left: 40px;
}

.topBar .sec {
    display: none;
}

.topBar button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 90px;
    width: 270px;
    height: 50px;
    /* padding-right:90px ; */
    display: flex;
    gap: 90px;
    /* padding: 12px; */
}

@media screen and (max-width:950px) {
    .topBar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topBar button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 40px;
        margin: auto;
        border-radius: 10px;
    }

    .topBar .sec {
        display: block;
    }
    .topBar .fir {
        display: none;
    }
    .topBar button div {
        display: none;
    }
}