*{
  color: #024008;
}
.hero{
    display: flex;
    width: 85%;
    justify-content: center;
    margin: 40px auto auto auto;
    gap: 40px;
}
.hero .left{
  width: 100%;
  max-width: 400px;
  min-width: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0; */
}
.hero .left button{
    margin: 30px;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    background-color: inherit;
    border: 1px solid gray;
}
.hero .left .heroContent{
  border-top:1px solid black ;
  border-bottom: 1px solid black;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .left .heroContent1{
  border-bottom: 1px solid black;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero .right{
  width: 100%;
  /* height: 70vh; */
}
.hero .right .imgContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 40px;
  column-gap: 10px;
  height: max-content;
  /* gap: 20px;
  flex-wrap: wrap; */
}

.hero .right .imgContainer img{
  width: 100%;
  /* min-width: 280px; */
}

.hero  .imgContainer .imgDescription{
    display: flex;
    gap:30px;
}

@media screen and (max-width:1370px) {
  .hero .right .imgContainer img{
    width: 100%;
    min-width: 200px;
  }
}

@media screen and (max-width:950px) {
  .hero .left{
    display: none;
  }

  .hero .right .imgContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    column-gap: 10px;
  }

  .hero .right .imgContainer img{
    width: 100%;
    min-width: 200px;
  }
}

@media screen and (max-width:500px) {
  .hero .right .imgContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    column-gap: 10px;
  }

}

