*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Literata', serif;
}


.preFooter .preFooterHeading{
    margin: 40px auto;
    font-size: 50px;
    font-weight: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.preFooter .txtContContainer{
    /* padding: 120px;
    padding-top: 50px; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

}
.preFooter .txtContContainer img{
    height: 100%;
    width: 100%;
    max-height: 250px;
    min-height: 200px;
    max-width: 250px;
    min-width: 200px;

}
.preFooter .txtContContainer .txtContainer{
    margin: auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.preFooter .txtContContainer .txtContainer h5{
    font-size: 20px;
    /* padding-top: 30px; */
}
.preFooter .txtContContainer .txtContainer p{
    font-size: 14px;
    /* padding-top: 20px; */
}

.preFooter2 {
    margin: 40px auto;
}

.preFooter2 .txtContContainer{
    /* padding: 120px;
    padding-top: 0px; */
   display: grid;
   grid-template-columns: repeat(3,1fr);

}
.preFooter2 .txtContContainer img{
    height: 250px;
    width: 100%;

}
.preFooter2 .txtContContainer .txtContainer{
    margin: auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.preFooter2 .txtContContainer .txtContainer h5{
    font-size: 20px;
    /* padding-top: 30px; */
}
.preFooter2 .txtContContainer .txtContainer p{
    font-size: 14px;
    /* padding-top: 20px; */
}
/* .preFooter2{
    position:relative;
    top: 5650px;
} */
.preFooter2 .preFooterHeading2{
    font-size: 40px;
    font-weight: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:790px) {
    .preFooter .txtContContainer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .preFooter2 .txtContContainer{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}