.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border-top: 3px solid rgba(219, 216, 216, 0.596);
    gap: 30px;
    padding:0 5% ;
    padding-top: 100px;
    padding-bottom: 40px;        
}
.footerColumn{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footerColumn h1, .FootSubContainer h1{
    font-weight: 600;
    font-size: 17px;
}
.footerColumn p, .FootSubContainer p{
    font-weight: 400;
    font-size: 15px;
}
.FooterSub{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.FootSubContainer{
    display: flex;
    flex-direction: column;
    
}
