footer{
    height:500px;
    display: flex;
    gap: 90px;
    color: #024008;
    padding-left: 150px;
}
footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer ul li{
    font-size: 12px;
}

footer .footCont .footContHeading{
    font-size: 17px;
    font-weight: 500;
    padding-bottom: 7px;
    margin-bottom:7px ;
    border-bottom: 1px solid #024008;
}